rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /attendance/{attendanceId} {
      allow read, write: if true;
    }
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
    match /test/{testId} {
      allow read, write: if true;
    }
  }
}
